@import '../constants.scss';

.clipboard-item {
  padding: 6px;
  width: 96%;
  margin: 0 2%;
  border-radius: 2px;
  white-space: nowrap;
  overflow-x: hidden;
  cursor: pointer;

  &.active,
  &.highlight {
    background: $bg_light;
  }

  &.highlight {
    border: 1px solid $border_color;
  }
}